/* palette */

:root {

  --dark-100: rgba( 0, 0, 0,  1  );
  --dark-50:  rgba( 0, 0, 0, .5  );
  --dark-25:  rgba( 0, 0, 0, .25 );
  --dark-10:  rgba( 0, 0, 0, .1  );

  --light-100: rgba( 255, 255, 255,  1  );
  --light-50:  rgba( 255, 255, 255, .5  );
  --light-25:  rgba( 255, 255, 255, .25 );
  --light-10:  rgba( 255, 255, 255, .1  );

  --highlight: rgba( 215, 165, 101, 1 );
  --highlight-rgb:   215, 165, 101;

}



/* fonts */

/*
@font-face {
  font-family: Piaui;
  src: url(../fonts/piaui/piaui-regular.woff) format('woff');
  font-weight: 500;
}
*/

@font-face {
  font-family: Piaui;
  src: url(../fonts/piaui/piaui-bold.woff) format('woff');
  font-weight: 700;
}


/* general */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background: var(--dark-100);
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light-50);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--light-100);
  font-family: Piaui, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

a {
  color: var(--light-100);
  text-decoration: none;
  border-bottom: .1rem solid currentColor;
}

p {
  color: var(--light-50);
}

p + p {
  margin-top: calc( 1.8rem * 1.5 );
}

small {
  font-size: 1.4rem;
  color: var(--light-50);
}

small a {
  border: none;
  color: inherit
}

section {
  margin-top: 9.6rem;
}

.button {
  font-family: Piaui;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: calc( 1.8rem * 1.5 );
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding: .8rem 2.4rem;
  height: 6.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.button .material-icons + span {
  margin-left: .8rem;
}

.material-icons {
  font-size: 2.4rem;
}


/* accessibility */

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}



/* cover */



/* main */

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  padding: 0 2.4rem 15.2rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.main > article,
.main > nav,
.main > footer {
  max-width: 42rem;
  margin: 0 auto;
}

.brands {
  margin-top: 28.8rem;
}

.brands,
.brands a {
  display: flex;
}

.brands a {
  border: none;
}

.brands a + a::before {
  content: '';
  display: flex;
  height: 3.2rem;
  min-width: .1rem;
  margin: 0 1.6rem;
  background: var(--light-50);
}

.brands a:first-child img {
  width: 8rem;
  align-self: center;
}

.brands a:last-child img {
  width: 17.6rem;
  align-self: center;
}

dl::before {
  content: '';
  display: flex;
  width: 100%;
  height: .1rem;
  margin: 4.8rem 0;
  background: var(--light-25);
}

dl > div + div {
  margin-top: calc( 1.8rem * 1.5 );
}

dt {
  font-size: 1.4rem;
  color: var(--light-50);
  line-height: calc( 1.8rem * 1.5 );
}

.main nav {
  display: flex;
  margin: 9.6rem auto;
  color: var(--light-50);
}

.main nav span.button {
  margin-left: -2.4rem;
  cursor: default;
}

@media( min-width: 800px ) {

  .main {
    padding-right: calc( 50vw + 2.4rem );
  }

}



/* search */

input,
input[type=text],
input[type=search],
label,
button,
fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	margin:0;
	border:0;
  border-radius: 0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height: 1.5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

form {
  background: var(--light-100);
  border-radius: 1.6rem 1.6rem 0 0;
  min-width: 32rem;
  width: 100%;
  max-width: 37.5rem;
  overflow: hidden;
  pointer-events: all;
}

form > * {
  width: 100%;
  max-width: 100%;
}

fieldset {
  min-width: 0;
  width: 100%;
}

input:focus,
input[type=text]:focus,
input[type=search]:focus,
button {
	outline:0;
}

::-webkit-search-decoration {
	display:none;
}

.search {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}

.search .suggestions {
  /* display: none; */
}

.suggestions button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 6.4rem;
  padding: .8rem 2.4rem;
  font-size: 1.4rem;
}

.suggestions button span {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  pointer-events: none;
}

.suggestions button span + span {
  color: var(--dark-50);
}

.input,
.geolocation {
  height: 6.4rem;
  width: 100%;
}

.input {
  position: relative;
  display: flex;
}

.input label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 0 0 2.4rem;
}

.input label > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.input label input {
  width: calc( 100% - 6.4rem );
  height: 100%;
  caret-color: var(--highlight);
}

.input label .line::before {
  content: '';
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX( 0 );
  transform-origin: left;
  background: var(--highlight);
}

.input label input:focus + div .line::before {
  transform: scaleX( 1 );
}

.input label .line {
  position: absolute;
  width: calc( 100% - 4.8rem );
  height: .2rem;
  background: var(--dark-100);
  right: 2.4rem;
  left: 2.4rem;
  bottom: -.1rem;
}

.input .icon,
.input button {
  position: absolute;
  height: 6.4rem;
  min-width: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
  color: var(--dark-50);
}

.input button {
  pointer-events: all
}

.input .icon {
  display: none;
}

.input label input:placeholder-shown + div .icon {
  display: flex;
}

.input label input:placeholder-shown + div button {
  display: none;
}

.geolocation .material-icons {
  font-size: 1.6rem;
}

.geolocation button {
  justify-content: flex-start;
  width: 100%;
}

.geolocation button:hover {
  color: var(--highlight);
}

.app[data-geolocation="false"] .geolocation button {
  display: none;
}



/* story */

.story {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.app[data-page="story"] .story {
  display: flex;
}

.story article {
  background: var(--dark-100);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



/* poster */

.poster {
  display: none;
}
